/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-image: url("/public/img/background.jpg");
  background-repeat: repeat;
  background-size: 45%;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.714);
}

.container {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 100px;
}

.glass-container {
  width: 100%;
  margin: auto;
  /* From https://css.glass */
  background: rgba(85, 116, 153, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(85, 116, 153, 0.3);
  padding: 20px;
}

.auth__container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  /* From https://css.glass */
  background: rgba(85, 116, 153, 0.28);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(85, 116, 153, 0.3);
  padding: 20px;
}

.auth__header {
  text-transform: uppercase;
  text-align: center;
}

.chat__grid {
  display: flex;
}

.chat__contacts {
  width: 30%;
  border-right: 1px solid gray;
}

.chat__window {
  width: 70;
}

.chat__logo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.chat__account {
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat__item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px;
  transition: all .2s ease-in;
}

.chat__item:hover {
  background-color: rgba(102, 102, 165, 0.488);
  transition: all .2s ease-out;
  cursor: pointer;
}

.chat__message {
  border-radius: 10px;
  max-width: fit-content;
  padding: 10px;
  background-color: rgba(102, 102, 165, 0.488);
}

.chat__message--left {
  align-self: end;
}

.chat__message--right {
  align-self: start;
}

.chat__input-wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.chat__input {
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  background-color: rgba(102, 102, 165, 0.488);
}

.chat__wrapper {
  padding: 20px;
  width: 100%;
  max-width: 900px;
}

.chat__window {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  overflow-y: scroll;
  padding: 20px;
}

.chat__send-msg {
  border-radius: 25px;
  background-color: rgba(102, 102, 165, 0.488);
  background-image: url("/public/img/send.svg");
  background-size: 60%;
  background-position: 10px center;
  background-repeat: no-repeat;
  width: 44px;
  height: 44px;
}
